
@import 'mixins';

:host {
    display: block;
    background-color: $eggshell-dark;
    overflow: auto;
}

.file-row {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    overflow-y: hidden;

    height: 1.5rem;
    transform: scaleY(1);
    transition: height 100ms, transform 100ms;
    &.even {
        background-color: $eggshell;
    }
    &.odd {
        background-color: $eggshell-light;
    }
    &.selected {
        background-color: $olive-green;
        color: $lightest-green;
    }
    &:hover:not(.selected) {
        background-color: $laurel-green;
    }
    &.hidden {
        height: 0;
        padding: 0;
        transform: scaleY(0);
    }

    .material-icons {
        user-select: none;
        font-size: 1rem;
        &.folder {
            margin-left: 0.25rem;
        }
        &.arrow {
            // make click target bigger
            padding: 0.25rem;
            margin: -0.25rem;
            transition: transform 100ms;
            transform: rotate(90deg);
            &.closed {
                transform: rotate(0);
            }
        }
    }
    .space-maker {
        width: 2rem;
    }
    .file-label {
        margin-left: 0.25rem;
    }
}

.clickable {
    cursor: pointer;
}