<div class="chart-container">
    <div class="selected-stats" *ngIf="coronaData[overviewHoverIndex] as stats">
        <div class="stats-row">
            <div class="stats-pair">
                <div>Date:</div>
                <div>{{ stats.dateStr }}</div>
            </div>
            <div class="stats-pair">
                <div>Total Cases:</div>
                <div>{{ stats.cases }}</div>
            </div>
        </div>
        <div class="stats-row">
            <div class="stats-pair">
                <div>New:</div>
                <div>{{ stats.new }}</div>
            </div>
            <div class="stats-pair">
                <div>Active:</div>
                <div>{{ stats.active }}</div>
            </div>
        </div>
        <div class="stats-row">
            <div class="stats-pair">
                <div>Recovered:</div>
                <div>{{ stats.recovered }}</div>
            </div>
            <div class="stats-pair">
                <div>Deaths:</div>
                <div>{{ stats.deaths }}</div>
            </div>
        </div>
    </div>

    <dwu-bar-chart
        [coronaData]="coronaData"
        [keys]="coronaKeys"
        [colorsByKey]="coronaColorsByKey"
        [disabledKeys]="disabledBarKeys"
        [hoverIndex]="overviewHoverIndex"
        (hoverIndexChange)="overviewHoverIndex = $event"
    ></dwu-bar-chart>
    <dwu-chart-legend
        [keys]="coronaKeys"
        [colorsByKey]="coronaColorsByKey"
        [(disabledKeys)]="disabledBarKeys"
    ></dwu-chart-legend>
</div>
