@import 'mixins';

:host {
    display: block;
    padding-bottom: 2rem;
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .selected-stats {
            padding: 0 1rem;
            font-size: 0.75rem;
            display: flex;
            .stats-column-container {
                display: flex;
                &:not(:first-child) {
                    margin-left: 2.5rem;
                }
                .stats-column {
                    display: flex;
                    flex-direction: column;
                    text-align: right;
                    &:first-child {
                        margin-right: 0.25rem;
                    }
                    &.stats {
                        min-width: 2.5rem;
                    }
                    .count-stat {
                        font-weight: 600;
                    }
                    .date-stat {
                        min-width: 3.75rem;
                    }
                }
            }
        }
        dwu-bar-chart {
            height: 12.5rem;
            width: 100%;
        }
        dwu-chart-legend {
            flex: 0 0 auto;
            margin-top: 0.25rem;
        }
    }
}
