<div class="chart-container">
    <div class="selected-stats" *ngIf="coronaData[hoverIndex] as stats">
        <div class="stats-column-container">
            <div class="stats-column">
                <div>total:</div>
                <div>date:</div>
            </div>
            <div class="stats-column stats">
                <div class="count-stat">{{ stats.cases.toLocaleString() }}</div>
                <div class="date-stat">{{ stats.dateStr }}</div>
            </div>
        </div>
        <div class="stats-column-container">
            <div class="stats-column">
                <div>new:</div>
                <div>active:</div>
            </div>
            <div class="stats-column stats">
                <div>{{ stats.new.toLocaleString() }}</div>
                <div>{{ stats.active.toLocaleString() }}</div>
            </div>
        </div>
        <div class="stats-column-container">
            <div class="stats-column">
                <div>recovered:</div>
                <div>deaths:</div>
            </div>
            <div class="stats-column stats">
                <div>{{ stats.recovered.toLocaleString() }}</div>
                <div>{{ stats.deaths.toLocaleString() }}</div>
            </div>
        </div>
    </div>
    <dwu-bar-chart
        class="overview chart"
        [tableData]="coronaData"
        [keys]="coronaKeys"
        [colorsByKey]="coronaColorsByKey"
        [disabledKeys]="disabledBarKeys"
        [hoverIndex]="hoverIndex"
        (hoverIndexChange)="hoverIndex = $event"
    ></dwu-bar-chart>
    <dwu-chart-legend
        [keys]="coronaKeys"
        [colorsByKey]="coronaColorsByKey"
        [disabledKeys]="disabledBarKeys"
        (disabledKeysChange)="disabledBarKeysChange.emit($event)"
    ></dwu-chart-legend>

    <dwu-line-chart
        class="overview chart"
        [tableData]="normalizedData"
        [keys]="normalKeys"
        [colorsByKey]="normalColorsByKeys"
        [disabledKeys]="disabledNormalKeys"
        [hoverIndex]="hoverIndex"
        (hoverIndexChange)="hoverIndex = $event"
    ></dwu-line-chart>
    <dwu-chart-legend
        [keys]="normalKeys"
        [colorsByKey]="normalColorsByKeys"
        [disabledKeys]="disabledNormalKeys"
        (disabledKeysChange)="disabledNormalKeysChange.emit($event)"
    ></dwu-chart-legend>
</div>
