@import 'mixins';

:host {
    padding: 0 1rem 1rem 1rem;
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        dwu-bar-chart {
            height: 25rem;
        }
        dwu-chart-legend {
            flex: 0 0 auto;
            margin-top: 0.25rem;
        }
    }
}
