@import 'mixins';

:host {
    display: block;
    padding: 0 1rem 1rem 1rem;
    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .selected-stats {
            .stats-row {
                display: flex;
                align-items: center;
                > :not(:first-child) {
                    margin-left: 3rem;
                }
                .stats-pair {
                    display: flex;
                    align-items: center;
                    > :not(:first-child) {
                        margin-left: 0.25rem;
                    }
                }
            }
        }
        dwu-bar-chart {
            height: 12.5rem;
            width: 100%;
        }
        dwu-chart-legend {
            flex: 0 0 auto;
            margin-top: 0.25rem;
        }
    }
}
