image-stream-settings
<div class="join-table">
  <div class="file-explorer-container">
    <div class="explorer-title">Sources</div>
    <dwu-search-input
      [(searchText)]="imageSourcesFilterStr"
    ></dwu-search-input>
    <dwu-resource-selector
      class="file-explorer"
      [resources]="imageSources$ | async"
      [filterStr]="imageSourcesFilterStr"
      [selectedResourceIds]="selectedImageSourceIds"
      (selectedResourceIdsChange)="selectedImageSourceIds = $event"
      [isMultiSelect]= "true"
    ></dwu-resource-selector>
  </div>
  <div class="file-explorer-container">
    <div class="explorer-title">Classifiers</div>
    <dwu-search-input
      [(searchText)]="classifiersFilterStr"
    ></dwu-search-input>
    <dwu-resource-selector
      class="file-explorer"
      [resources]="classifiers$ | async"
      [filterStr]="classifiersFilterStr"
      [selectedResourceIds]="selectedClassifierIds"
      (selectedResourceIdsChange)="selectedClassifierIds = $event"
      [isMultiSelect]= "true"
    ></dwu-resource-selector>
  </div>
</div>
