<div
  *ngIf="user$ | async; else loginTemplate"
  class="page-container"
>
  <div
    class="left-side"
    [class.expanded]="leftSideExpanded"
  >
    <div
      class="create-source-button"
      (click)="onCreateSource()"
    >
      + Create Source
    </div>
    <dwu-search-input
      [(searchText)]="filterStr"
      [placeholder]="'search..'"
    ></dwu-search-input>
    <dwu-image-sources-explorer
      [imageSources]="imageSourcesList$ | async"
      [filterStr]="filterStr"
      [selectedImageSourceId]="selectedImageSourceId$ | async"
      (selectedImageSourceIdChange)="onSelectedImageSourceIdChange($event)"
    ></dwu-image-sources-explorer>
  </div>
  <div class="right-side">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #loginTemplate>
  login
</ng-template>
