@import 'mixins';


:host {
  @include responsive-page;
  .left-side {
    background-color: $eggshell-darker;
    display: flex;
    flex-direction: column;
    .create-source-button {
      flex: 0 0 auto;
      @include light-mini-button;
    }
    dwu-image-sources-explorer {
      flex: 1 1 0;
    }
  }
}
