@import 'mixins';

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .toolbar {
    display: flex;
    justify-content: space-between;
    .left-toolbar {
      flex: 1 1 0;
      height: 28px;
      margin-left: 0.25rem;
      .world-icon {
        padding: 0.125rem;
      }
    }
    dwu-zoom-level-picker {
      flex: 0 0 auto;
      display: block;
      margin-right: 0.25rem;
    }
  }
  dwu-location-picker {
    height: 35%;
    width: 100%;
  }
}
