@import 'mixins';

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  dwu-zoom-level-picker {
    align-self: flex-end;
    display: block;
    margin-right: 0.5rem;
  }
}
