@import 'mixins';

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  dwu-zoom-level-picker {
    align-self: flex-end;
    display: block;
    margin-right: 0.5rem;
  }
}

.near-by-uploads {
  flex: 1 1 0;
  display: flex;
  flex-wrap: wrap;
}
.tile {
  padding: 1px;
  position: relative;
  .grid-image {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    &:hover {
      opacity: 0.85;
    }
  }
}
