<div *ngIf="!location" class="header">
    <div class="header-main">
        <div>{{ fileName }}</div>
    </div>
</div>
<div *ngIf="location" class="header">
    <div class="header-main">
        <div>{{ fileName }}</div>
        <a [href]="fileUrl" class="download-link" download>
            <span class="material-icons download-icon">
                get_app
            </span>
        </a>
        <div class="loader" [class.visible]="isLoading$ | async">
            <span class="material-icons hour-glass">
                hourglass_empty
            </span>
        </div>
    </div>
    <div class="population">
        <div>Population:</div>
        <div
            *ngIf="(latestCoronaFile$ | async)?.population as population"
            class="population-count"
        >{{ population.toLocaleString() }}</div>
    </div>
</div>
<dwu-corona-dashboard
    *ngIf="location && latestCoronaFile$ | async as coronaFile"
    [lockdownInfo]="lockdownDataByLocation[location]"
    [coronaFile]="coronaFile"
    [disabledBarKeys]="disabledBarKeys"
    (disabledBarKeysChange)="disabledBarKeysChange.emit($event)"
    [disabledNormalKeys]="disabledNormalKeys"
    (disabledNormalKeysChange)="disabledNormalKeysChange.emit($event)"
    [isViewingNormalized]="isViewingNormalized"
    (isViewingNormalizedChange)="isViewingNormalizedChange.emit($event)"
    [isViewingLineChart]="isViewingLineChart"
    (isViewingLineChartChange)="isViewingLineChartChange.emit($event)"
></dwu-corona-dashboard>
<div class="loading-overlay active" [class.active]="isLoading$ | async"></div>
