@import 'mixins';

h3 {
    margin: 1rem
}

.header {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    font-size: 1rem;
    .population {
        font-size: 0.75rem;
        color: $granite;
    }
}
