@import 'mixins';

:host {
    display: flex;
    align-items: center;
    user-select: none;
    .key-set {
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: $eggshell;
        padding: 0.25rem 0.5rem;
        border-radius: 5px;
        transition-duration: 25ms;
        box-shadow: 1px 1px 2px 0 $lighter-gray;
        transform: translateY(0);
        &:active {
            transform: translateY(1px);
            box-shadow: none;
        }
        &:not(:first-child) {
            margin-left: 0.75rem;
        }
        &:hover {
            .key-color {
                transform: scale(1.2);
            }
        }

        .key-color {
            border: 1px solid;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 2px;
            transition: transform 25ms, background-color 25ms;
            transform: scale(1);
        }
        .key-label {
            margin-left: 0.25rem;
            font-size: 14px;
        }
    }
}