@import 'mixins';

.input-container {
    padding: 0.5rem 1rem 0.5rem 0.75rem;
    position: relative;
    .search-icon {
        position: absolute;
        top: 50%;
        transform: translate(0.5rem, -50%);
        font-size: 1.25rem;
        color: $granite;
        pointer-events: none;
    }
    .cancel-icon {
        position: absolute;
        padding: 0.25rem;
        cursor: pointer;
        top: 50%;
        right: 0;
        transform: translate(-1.25rem, -50%);
        font-size: 1.25rem;
        color: $granite;
    }
    input {
        padding: 0 0.5rem 0 2rem;
        border-radius: 0.5rem;
        border: 2px solid $moss-green;
        outline: none;
        width: 100%;
        font-size: 1rem;
        height: 2.25rem;
    }
}
