@import 'mixins';

:host {
  @include standard-demo-page;
  .scroll-demo-container {
    width: 100%;
    height: 25rem;
    max-height: 25rem;
    margin-bottom: 1.5rem;
  }
}

.tile {
  padding: 1px;
}

dwu-tooltip {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.img-container {
}

.grid-image {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
  }
}
