<h2>Virtual Scroll Grid Demo</h2>
<div class="demo-container">
  <p>
    VirtualScrollGridComponent is useful for displaying a large number of images.  Tile elements are not mounted until the user scrolls into the viewport.  This allows for lazy loading of images and quick render times.
  </p>
  <p>
    The width and height of the tiles automatically adjust based on the virtualScrollGridComponent's size.  This can be used to load lower resolution images when higher resolution images are not required.
  </p>
  <p>
    is based on cdk-virtual-scroll-viewport and a ResizeSensor
  </p>
  <div class="scroll-demo-container">
    <label>
      useMiniOptions: <input type="checkbox" [(ngModel)]="useMiniOptions">
    </label>
    <dwu-virtual-scroll-grid
      [tileIds]="tileIds"
      [tileTemplate]="tileTemplate"
      [tileOptions]="useMiniOptions ? tileOptionsMini : tileOptions"
    ></dwu-virtual-scroll-grid>
  </div>
  <h3>Usage</h3>
  <!-- <dwu-code-snippet [snippet]="lineChartHtml"></dwu-code-snippet>
  <dwu-code-snippet [snippet]="lineChartJs"></dwu-code-snippet> -->
</div>

<ng-template
  #tileTemplate
  let-scaledImageWidthStr="scaledImageWidthStr"
  let-scaledImageHeightStr="scaledImageHeightStr"
  let-tileId="tileId"
  let-targetTileOption="targetTileOption"
>
  <div
    class="tile"
    [style.width]="scaledImageWidthStr"
    [style.height]="scaledImageHeightStr"
  >
    <img
      [src]="getImgSrc(tileId, targetTileOption.maxWidth)"
      class="grid-image"
    >
  </div>
</ng-template>

