
@import 'mixins';

:host {
  display: inline-block;
  line-height: 0;
}

.default-template {
  padding: 0.25rem;
  background-color: rgba(255, 255, 255, 0.85);
  border: 1px solid;
  border-radius: 0.25rem;
}

.text-container {
  max-width: 20rem;
}
.text-space-maker {
  max-width: 20rem;
  height: 0;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
}