@import 'mixins';

.page-container {
    height: 100%;
    width: 100%;
    display: flex;

    &.is-small-screen {
        flex-direction: column;
        .left-side {
            width: 100%;
            max-width: none;
            dwu-file-explorer {
                min-height: 6.75rem;
            }
        }
    }

    .left-side {
        background-color: $eggshell-darker;
        overflow: hidden;
        flex: 1 1 0;
        max-width: 30%;
        min-width: 17.5rem;
        display: flex;
        flex-direction: column;
        dwu-file-explorer {
            flex: 1 0 0;
        }

        .input-container {
            @include fuzzy-input-container;
        }

        .view-tabs {
            padding: 0 0.5rem;
            display: flex;
            .view-tab {
                @include light-small-button;
                margin: 0 0.5rem;
                border-radius: 4px 4px 0 0;
                flex: 1 1 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                .star {
                    margin-right: 0.25rem;
                }
            }
        }
    }
    .right-side {
        flex: 1 1 0;
        overflow: auto;
        position: relative;
    }
}
.clickable {
    padding: 0.25rem;
    margin: -0.25rem;
}

.star {
    font-size: 1.25rem;
    opacity: 0.25;
    &:hover {
        opacity: 0.5;
        color: $star-blue;
    }
    &.active {
        opacity: 1;
        color: $star-blue;
    }
}
