<div class="left-side">
    <div class="input-container">
        <span class="material-icons search-icon">
            search
        </span>
        <input type="text" [(ngModel)]="filterStr" placeholder="County, State, or Country" autofocus>
    </div>
    <div class="view-tabs">
        <div class="view-tab" [class.active]="!viewingFavorites" (click)="setViewingFavorites(false)">
            All
        </div>
        <div class="view-tab" [class.active]="viewingFavorites" (click)="setViewingFavorites(true)">
            <div>Favorites</div>
            <div class="material-icons star">
                grade
            </div>
        </div>
    </div>
    <dwu-file-explorer
        [rootFileId]="fileGroup.rootFileId"
        [filesById]="fileGroup.filesById"
        (filesByIdChange)="fileGroup.filesById = $event"
        [fuzzFilterString]="filterStr"
        [closedFileIds]="fileGroup.closedFileIds"
        (closedFileIdsChange)="fileGroup.setClosedFileIds($event)"
        [selectedFileIds]="fileGroup.selectedFileIds"
        (selectedFileIdsChange)="fileGroup.setSelectedFileIds($event)"
        [perfMode]="true"
    ></dwu-file-explorer>
</div>
<div class="right-side">
    <ng-container  *ngIf="getSelectedFileId() as selectedFileId" [ngSwitch]="selectedFileId">
        <div *ngSwitchDefault>
            <dwu-corona-file-viewer [location]="locationsByFileId[selectedFileId]"></dwu-corona-file-viewer>
        </div>
    </ng-container>
</div>
<ng-template #rowIconTemplate>
    <div class="material-icons star">
        grade
    </div>
</ng-template>