<div class="left-side">
    <div class="input-container">
        <span class="material-icons search-icon">
            search
        </span>
        <input type="text" [(ngModel)]="filterStr" placeholder="County, State, or Country">
    </div>
    <dwu-file-explorer
        [rootFileId]="fileGroup.rootFileId"
        [filesById]="fileGroup.filesById"
        (filesByIdChange)="fileGroup.filesById = $event"
        [fuzzFilterString]="filterStr"
        [closedFileIds]="fileGroup.closedFileIds"
        (closedFileIdsChange)="fileGroup.setClosedFileIds($event)"
        [selectedFileIds]="fileGroup.selectedFileIds"
        (selectedFileIdsChange)="fileGroup.setSelectedFileIds($event)"
        [perfMode]="true"
    ></dwu-file-explorer>
</div>
<div class="right-side">
    <ng-container  *ngIf="getSelectedFileId() as selectedFileId" [ngSwitch]="selectedFileId">
        <div *ngSwitchDefault>
            <dwu-corona-file-viewer [location]="locationsByFileId[selectedFileId]"></dwu-corona-file-viewer>
        </div>
    </ng-container>
</div>
