@import 'mixins';

:host {
    height: 100%;
    width: 100%;
    display: flex;
    .left-side {
        background-color: $eggshell-darker;
        overflow: hidden;
        max-width: 30%;
        width: 20rem;
        display: flex;
        flex-direction: column;
        dwu-file-explorer {
            flex: 1 1 0;
        }

        .input-container {
            @include fuzzy-input-container;
        }

        .view-tabs {
            padding: 0 0.5rem;
            display: flex;
            .view-tab {
                @include light-small-button;
                margin: 0 0.5rem;
                border-radius: 4px 4px 0 0;
                flex: 1 1 0;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                .star {
                    margin-right: 0.25rem;
                }
            }
        }
    }
    .right-side {
        flex: 1 1 0;
        overflow: auto;
        position: relative;
    }
}

.star {
    font-size: 1rem;
    opacity: 0.25;
    &:hover {
        opacity: 0.5;
        color: $gold;
    }
    &.active {
        opacity: 1;
        color: $gold;
    }
}
