<div class="control-bar">
  <dwu-user-login></dwu-user-login>
  <dwu-file-uploader
    *ngIf="firebaseAuthService.user$ | async as user"
    (fileChange)="onFileChange($event, user)"
  ></dwu-file-uploader>
  <dwu-zoom-level-picker
    [(zoomLevel)]="zoomLevel"
  ></dwu-zoom-level-picker>
</div>
<!-- <div
  *ngIf="(uploadedFiles$ | async) as uploadedFiles; else loader"
  class="uploaded-file-container"
>
  <div
    *ngFor="let uploadedFile of uploadedFiles; trackBy: trackById"
    class="uploaded-file"
  >
    <div class="file-name">
      <div>{{ uploadedFile.fileName }}</div>
      <span
        *ngIf="firebaseAuthService.user$ | async as user"
        class="material-icons"
        (click)="onDeleteFile(uploadedFile, user)"
      >delete</span>
    </div>
    <img
      *ngIf="uploadedFile.uploadMeta?.downloadUrl_320"
      [src]="uploadedFile.uploadMeta.downloadUrl_320"
      class="file-pic"
    >
    <div
      *ngIf="!uploadedFile.uploadMeta"
      class="file-pic"
    >
      <div class="loader-container centered">
        <div class="dwu-loader"></div>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <div class="loader-container for-page">
    <div class="dwu-loader"></div>
  </div>
</ng-template>
<div class="footer"></div>

 -->
<dwu-virtual-scroll-grid
  *ngIf="uploadedFileIds$ | async; else loaderForPage"
  [tileIds]="uploadedFileIds$ | async"
  [tileTemplate]="tileTemplate"
  [tileOptions]="tileOptions"
  [maxColumns]="zoomLevel"
  [(alwaysUseMaxColumns)]="alwaysUseMaxColumns"
  [(centeredTileId)]="centeredTileId"
  class="near-by-uploads"
></dwu-virtual-scroll-grid>
<ng-template
  #tileTemplate
  let-scaledImageWidthStr="scaledImageWidthStr"
  let-scaledImageHeightStr="scaledImageHeightStr"
  let-tileId="tileId"
  let-targetTileOption="targetTileOption"
>
  <div
    class="tile"
    [style.width]="scaledImageWidthStr"
    [style.height]="scaledImageHeightStr"
  >
    <dwu-decorated-image
      [src]="getImgSrc(tileId, targetTileOption.maxWidth)"
      (zoomIn)="onZoomIn(tileId)"
      (download)="downloadImage(tileId)"
      class="grid-image"
    ></dwu-decorated-image>
  </div>
</ng-template>

<ng-template #loaderForPage>
  <div class="loader-container for-page">
    <div class="dwu-loader"></div>
  </div>
</ng-template>


<div *ngIf="magnifiedImageId" class="magnified-image-container" (click)="magnifiedImageId = undefined">
  <img [src]="getImgSrc(magnifiedImageId, 1080)" class="magnified-image">
</div>
