@import 'mixins';

:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .control-bar {
    display: flex;
    dwu-user-login, dwu-file-uploader {
      align-self: flex-start;
      margin: 0.25rem;
      display: block;
    }
    dwu-zoom-level-picker {
      align-self: flex-end;
      display: block;
      margin-right: 0.5rem;
    }
  }
}
