@import 'mixins';

:host {
  @include responsive-page;
  .page-container {
    padding-left: 1rem;
    .footer {
      padding-bottom: 15rem;
    }
  }
}

dwu-user-login, dwu-file-uploader {
  margin: 0.25rem;
  display: block;
}

.uploaded-file-container {
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  .uploaded-file {
    margin: 0.5rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    .file-name {
      color: $light-green;
      background-color: $black-olive;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem 0.25rem 0 0;
    }
    .file-pic {
      width: 20rem;
      height: 15rem;
    }
  }
}



.loader, .loader:before, .loader:after {
  background: $black-olive;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: $black-olive;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before, .loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 3em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 4em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 3em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 4em;
  }
}
