@import 'mixins';

:host {
  @include responsive-page;
  .page-container {
    padding-left: 1rem;
    .footer {
      padding-bottom: 15rem;
    }
  }
}

dwu-user-login, dwu-file-uploader {
  margin: 0.25rem;
  display: block;
}

.uploaded-file-container {
  display: flex;
  padding: 0.5rem;
  .uploaded-file {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    .file-name {
      color: $light-green;
      background-color: $black-olive;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem 0.25rem 0 0;
    }
    .file-pic {
      width: 200px;
      height: 200px;
    }
  }
}
