@import 'variables';

.loader-container {

}

.dwu-loader, .dwu-loader:before, .dwu-loader:after {
  background: $black-olive;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 10px;
  height: 35px;
}
.dwu-loader {
  color: $black-olive;
  text-indent: -99990px;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.dwu-loader:before, .dwu-loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.dwu-loader:before {
  left: -15px;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.dwu-loader:after {
  left: 15px;
}
// @-webkit-keyframes load1 {
//   0%,
//   80%,
//   100% {
//     box-shadow: 0 -20px;
//     height: 20px;
//   }
//   40% {
//     box-shadow: 0 -30px;
//     height: 30px;
//   }
// }
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 20px;
  }
  40% {
    box-shadow: 0 -30px;
    height: 30px;
  }
}
