@import 'variables';

@mixin light-small-button {
    @include light-theme;
    @include button-sm;
}

@mixin dark-button {
    @include dark-theme;
    @include button-md;
}

@mixin button-sm {
    width: 6rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    text-align: center;
    outline: none;
    white-space: nowrap;
}

@mixin button-md {
    width: 8rem;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    outline: none;
    white-space: nowrap;
}

@mixin light-theme {
        background-color: $eggshell-dark;
        // border: 1px solid $moss-green;
        // border-bottom: none;
        // background-color: $eggshell-dark;
    //     background-color: $olive-green;
    //     color: $lightest-green;

    // background-color: $light-green;
    // // color: $lightest-green;
    &:hover {
        background-color: $laurel-green;
        // color: $lightest-green;
    }
    &.active {
        background-color: $olive-green;
        color: $lightest-green;
        // color: $lightest-green;
    }
}

@mixin dark-theme {
    background-color: $black-olive;
    color: $lightest-green;
    &:hover {
        background-color: $army-green;
        color: $lightest-green;
    }
    &.active {
        background-color: $olive-green;
        color: $lightest-green;
    }
}

@mixin top-nav-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .main-content {
        flex: 1 1 0;
        overflow: auto;
        background-color: $lightest-green;
    }
}

@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

@mixin fuzzy-input-container {
    padding: 0.5rem 1rem 0.5rem 0.75rem;
    position: relative;
    .search-icon {
        position: absolute;
        top: 50%;
        transform: translate(0.5rem, -50%);
        font-size: 1.25rem;
        color: $granite;
        pointer-events: none;
    }
    input {
        padding: 0 0.5rem 0 2rem;
        border-radius: 0.5rem;
        border: 2px solid $moss-green;
        outline: none;
        width: 100%;
        font-size: 0.75rem;
        height: 1.75rem;
    }
}
