@import 'variables';

@mixin radio-button-container {
    display: flex;
    .radio-button {
        @include light-mini-button;
        @include shadow;
        &:first-child {
            border-radius: 5px 0 0 5px;
        }
        &:last-child {
            border-radius: 0 5px 5px 0;
        }
    }
}

@mixin shadow {
    transition-duration: box-shadow 25ms, transform, 25ms;
    box-shadow: 1px 1px 2px 0 $lighter-gray;
    transform: translateY(0);
    &:active {
        transform: translateY(1px);
        box-shadow: none;
    }
    &.active {
        transform: translateY(1px);
        box-shadow: none;
    }
}

@mixin responsive-page {
    @media screen and (max-width: 750px) {
        div.page-container {
            flex-direction: column;
            .left-side {
                flex: 0 0 auto;
                height: 13.25rem;
                width: 100%;
                max-width: none;
                min-width: none;
            }
        }
    }
    .page-container {
        height: 100%;
        width: 100%;
        display: flex;

        .left-side {
            flex: 1 1 0;
            overflow: hidden;
            max-width: 27.5%;
            min-width: 20rem;
        }
        .right-side {
            flex: 1 1 0;
            overflow: auto;
            position: relative;
        }
    }

}
@mixin light-mini-button {
    @include light-theme;
    @include button-xs;
}

@mixin light-small-button {
    @include light-theme;
    @include button-sm;
}

@mixin dark-button {
    @include dark-theme;
    @include button-md;
}

@mixin button-xs {
    min-width: 2rem;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    outline: none;
    white-space: nowrap;
    user-select: none;
}

@mixin button-sm {
    min-width: 3rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    text-align: center;
    outline: none;
    white-space: nowrap;
    user-select: none;
}

@mixin button-md {
    width: 8rem;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    outline: none;
    white-space: nowrap;
    user-select: none;
}

@mixin light-theme {
        background-color: $eggshell-dark;
    &:hover {
        background-color: $laurel-green;
    }
    &.active {
        background-color: $olive-green;
        color: $lightest-green;
    }
}

@mixin dark-theme {
    background-color: $black-olive;
    color: $lightest-green;
    &:hover {
        background-color: $army-green;
        color: $lightest-green;
    }
    &.active {
        background-color: $olive-green;
        color: $lightest-green;
    }
}

@mixin top-nav-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .main-content {
        flex: 1 1 0;
        overflow: auto;
    }
}

@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
