
$dark-green: #292E12;
$army-green: #4B5320;
$olive-green: #708238;
$moss-green: #8A9A5B;
$laurel-green: #BAC39F;

// nice for text against dark background
$light-green: #F4F7EA;
$lightest-green: #FCFCF9;

// Used for file selector
$eggshell-darker: #DDD9CF;
$eggshell-dark: #EAE6DA;
$eggshell: #EFEBDF;
$eggshell-light: #F2EEE1;

// grays
$black-olive: #3F4038;
$granite: #65635F;

$gold: #D6B902;

$break-small: 550px;
$break-md: 800px;
$break-large: 1024px;

