
$dark-green: #292E12;
$army-green: #4B5320;
$black-olive: #3F4038;
$olive-green: #708238;
$moss-green: #8A9A5B;
$laurel-green: #ADB099;
// nice for text
$light-green: #F4F7EA;
$lightest-green: #FCFCF9;