
@import 'mixins';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.demo-container {
  flex: 1 1 0;
}
.vertical-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .horizontal-container {
    display: flex;
    justify-content: space-between;
  }
  .center-container {
    flex: 1 1 0;
  }
}