
@import 'mixins';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    flex: 0 0 auto;
    margin: 1rem 2rem;
  }
  .demo-container {
    flex: 1 1 0;
    margin: 1rem 2rem;
    padding-bottom: 5rem;
    dwu-bar-chart {
    }
  }
}

p {
  margin-bottom: 1rem;
}
