<div class="left-side">
    <div>
        <input type="text" [(ngModel)]="filterStr" placeholder="fuzzy search">
    </div>
    <dwu-file-explorer
        [rootFileId]="fileGroup.rootFileId"
        [filesById]="fileGroup.filesById"
        (filesByIdChange)="fileGroup.filesById = $event"
        [fuzzFilterString]="filterStr"
        [closedFileIds]="fileGroup.closedFileIds"
        (closedFileIdsChange)="fileGroup.setClosedFileIds($event)"
        [selectedFileIds]="fileGroup.selectedFileIds"
        (selectedFileIdsChange)="fileGroup.setSelectedFileIds($event)"
    ></dwu-file-explorer>
</div>
<div class="right-side">
    <ng-container *ngIf="getSelectedFileId() as selectedFileId">
        <ng-container [ngSwitch]="selectedFileId">
            <app-demo-page-wrapper *ngSwitchCase="filesByLabel['fuzz-demo'].id"></app-demo-page-wrapper>
        </ng-container>
        <ng-container [ngSwitch]="selectedFileId">
            <div *ngSwitchCase="filesByLabel['file-explorer'].id">
                <div>
                    file explorer demo
                </div>
            </div>
        </ng-container>
        <ng-container [ngSwitch]="selectedFileId">
            <div *ngSwitchCase="filesByLabel['text-decorator'].id">
                <div>
                    text-decorator demo
                </div>
            </div>
        </ng-container>

    </ng-container>
</div>
