<div class="left-side">
    <div>
        <input type="text" [(ngModel)]="filterStr">
    </div>
    <dwu-file-explorer
        [rootFileId]="fileGroup.rootFileId"
        [filesById]="fileGroup.filesById"
        [fuzzFilterString]="filterStr"
        [closedFileIds]="fileGroup.closedFileIds"
        (closedFileIdsChange)="fileGroup.setClosedFileIds($event)"
        [selectedFileIds]="fileGroup.selectedFileIds"
        (selectedFileIdsChange)="fileGroup.setSelectedFileIds($event)"
    ></dwu-file-explorer>
</div>
<div class="right-side">
    <router-outlet></router-outlet>
</div>
