@import 'mixins';

:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;

  cdk-virtual-scroll-viewport {
    display: block;
    flex: 1 1 0;
  }
  .upload-file-container {
    width: 640px;
    height: 488px; // 480px + 8px
    padding-bottom: 8px 0;
  }
}
