<!-- buffer loads at most 4 images in memory -->
<cdk-virtual-scroll-viewport
  #scrollViewport
  itemSize="488"
  class="viewport"
  minBufferPx="976"
  maxBufferPx="976"
>
  <div
    *cdkVirtualFor="let uploadFileId of uploadFileIds; index as i;"
    class="upload-file-container"
  >
    <img
      *ngIf="getUploadFileDownloadUrl(uploadFileId) as downloadUrl; else filePicSpinner"
      [src]="downloadUrl"
    >
  </div>
</cdk-virtual-scroll-viewport>

<ng-template
  #filePicSpinner
>
  <div class="loader-container centered">
    <div class="dwu-loader"></div>
  </div>
</ng-template>
