:host {
  display: flex;
  height: 100%;
  width: 100%;

  .side-nav {
    background-color: #eeeeee;
    .nav-item {
      flex: 0 0 auto;
      padding: 0.5rem 1rem;
      cursor: pointer;
      &:hover {
        background-color: #eef8ff;
      }
      &.active {
        background-color: #ddeeff;
      }
    }
  }
  .main-content {
    flex: 1 1 0;
    overflow: auto;
  }
}