@import 'mixins';
@import 'variables';

:host {
    @include top-nav-page;
    .top-nav {
        display: flex;
        background-color: $black-olive;
        color: $lightest-green;
        .page-title-container {
            flex: 0 0 auto;
            padding: 1rem 1.5rem;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
        }
        .right-section {
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            overflow: hidden;
            .nav-items-container {
                display: flex;
                justify-content: flex-end;
                margin: 0 3rem;
                @include respond-to(small) {
                    margin: 0 0.25rem;
                }
                .nav-item {
                    flex: 0 1 auto;
                    @include dark-button;
                    margin: 0 0.25rem;
                    border-radius: 4px 4px 0 0;
                }
            }

        }
    }
}
