<cdk-virtual-scroll-viewport
  #scrollViewport
  class="viewport"
  [itemSize]="itemHeight"
  [minBufferPx]="minBufferPx"
  [maxBufferPx]="maxBufferPx"
>
  <div
    *cdkVirtualFor="let tileIdRow of tileIdRows; index as i;"
    class="upload-file-container-row"
  >
    <div
      *ngFor="let tileId of tileIdRow"
      class="upload-file-container"
    >
      <ng-template
        [ngTemplateOutlet]="tileTemplate"
        [ngTemplateOutletContext]="{}"
      ></ng-template>
<!--       <img
        *ngIf="gettileDownloadUrl(tileId) as downloadUrl; else filePicSpinner"
        [src]="downloadUrl"
        [style.width]="scaledImageWidthStr"
        [style.height]="scaledImageHeightStr"
        (click)="onImageClick(uploadFileId)"
        class="grid-image"
      > -->
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<ng-template
  #filePicSpinner
>
  <div class="loader-container centered">
    <div class="dwu-loader"></div>
  </div>
</ng-template>
