<!-- buffer loads at most 4 images in memory -->
<cdk-virtual-scroll-viewport
  #scrollViewport
  itemSize="248"
  class="viewport"
  minBufferPx="496"
  maxBufferPx="992"
>
  <div
    *cdkVirtualFor="let uploadFileIdRow of uploadFileIdRows; index as i;"
    class="upload-file-container-row"
  >
    <div *ngFor="let uploadFileId of uploadFileIdRow" class="upload-file-container">
      <img
        *ngIf="getUploadFileDownloadUrl(uploadFileId) as downloadUrl; else filePicSpinner"
        [src]="downloadUrl"
        (click)="onUploadFileClick(uploadFileId)"
        class="grid-image"
      >
    </div>
  </div>
</cdk-virtual-scroll-viewport>

<ng-template
  #filePicSpinner
>
  <div class="loader-container centered">
    <div class="dwu-loader"></div>
  </div>
</ng-template>
