
@import 'mixins';

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  h3 {
    margin: 1rem 2rem;
  }
  .demo-container {
    flex: 1 1 0;
    margin: 0.5rem 1.5rem;
    padding-bottom: 5rem;
  }
}

p {
  margin-bottom: 1rem;
}

.image-card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.25rem;
  .image-card {
    margin: 0.25rem;
    display: flex;
    flex-direction: column;

    .md-image {
      width: 200px;
      height: auto;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}

.magnified-image-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.5);

  img.magnified-image {
    max-width: 100%;
    max-height: 100%;
  }
}