
@import 'mixins';

:host {
  @include standard-demo-page;
  .demo-container {
    margin-top: 1rem;
  }
}

.image-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: -0.25rem;
  .image-card {
    margin: 0.25rem;
    display: flex;
    flex-direction: column;

    .sm-image {
      width: 320px;
      height: auto;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
}

.magnified-image-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.85);

  img.magnified-image {
    max-width: 100%;
    max-height: 100%;
  }
}