<div class="radio-buttons distance-type">
  <div class="radio-button"
    [class.active]="distanceType$.value === 'WALK'"
    (click)="distanceType$.next('WALK')"
  >Walk</div>
  <div class="radio-button"
    [class.active]="distanceType$.value === 'BIKE'"
    (click)="distanceType$.next('BIKE')"
  >Bike</div>
  <div class="radio-button"
    [class.active]="distanceType$.value === 'DRIVE'"
    (click)="distanceType$.next('DRIVE')"
  >Drive</div>
</div>

<div *ngIf="nearByUploads$ | async as nearByUploads" class="uploaded-file-container">
  <div
    *ngFor="let uploadedFile of nearByUploads; trackBy: trackById"
    class="uploaded-file"
  >
    <img
      *ngIf="uploadedFile.uploadMeta?.downloadUrl_320"
      [src]="uploadedFile.uploadMeta.downloadUrl_320"
      class="file-pic"
    >
    <div
      *ngIf="!uploadedFile.uploadMeta"
      class="file-pic"
    >
      <div class="loader-container centered">
        <div class="dwu-loader"></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!(nearByUploads$ | async)" class="loader-container for-page">
  <div class="dwu-loader"></div>
</div>