<div class="radio-buttons distance-type">
  <div class="radio-button"
    [class.active]="fileViewStyle === 'GRID'"
    (click)="fileViewStyle = 'GRID'"
  >Grid</div>
  <div class="radio-button"
    [class.active]="fileViewStyle === 'LIST'"
    (click)="fileViewStyle = 'LIST'"
  >List</div>
</div>
<!-- <div class="radio-buttons distance-type">
  <div class="radio-button"
    [class.active]="distanceType$.value === 'WALK'"
    (click)="distanceType$.next('WALK')"
  >Walk</div>
  <div class="radio-button"
    [class.active]="distanceType$.value === 'BIKE'"
    (click)="distanceType$.next('BIKE')"
  >Bike</div>
  <div class="radio-button"
    [class.active]="distanceType$.value === 'DRIVE'"
    (click)="distanceType$.next('DRIVE')"
  >Drive</div>
</div> -->

<ng-container *ngIf="nearByUploads$ | async">
  <dwu-upload-file-list-viewer
    *ngIf="fileViewStyle === 'LIST'"
    class="uploaded-file-container"
    [uploadFileIds]="uploadFileIds$ | async"
    [uploadFilesById]="uploadFilesById$ | async"
    [selectedFileId]="selectedFileId"
  >
  </dwu-upload-file-list-viewer>
  <dwu-upload-file-grid-viewer
    *ngIf="fileViewStyle === 'GRID'"
    class="uploaded-file-container"
    [uploadFileIds]="uploadFileIds$ | async"
    [uploadFilesById]="uploadFilesById$ | async"
    [selectedFileId]="selectedFileId"
    (selectUploadFileId)="onGridSelectUploadFileId($event)"
  >
  </dwu-upload-file-grid-viewer>
</ng-container>

<div *ngIf="!(nearByUploads$ | async)" class="loader-container for-page">
  <div class="dwu-loader"></div>
</div>