<div *ngIf="nearByUploads$ | async as nearByUploads" class="uploaded-file-container">
  <div
    *ngFor="let uploadedFile of nearByUploads; trackBy: trackById"
    class="uploaded-file"
  >
    <div class="file-name">
      <div>{{ uploadedFile.fileName }}</div>
    </div>
    <img
      *ngIf="uploadedFile.uploadMeta"
      [src]="uploadedFile.uploadMeta.downloadUrl"
      class="file-pic"
    >
    <div
      *ngIf="!uploadedFile.uploadMeta"
      class="file-pic"
    >
      <div class="dwu-loader"></div>
    </div>
  </div>
</div>